<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div class="modal-el" id="drag-drop-container">
        <p id="drag-drop-text">Drag your image here</p>
    </div>

    <div class="modal-el" id="btn-container"> 
        <button class="btn" id="cancel-btn">Cancel</button>
        <button class="btn" id="upload-btn" disabled>Upload</button>
    </div>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>